<div fxFill class="page">
  <div class="page-header">
    <mat-toolbar>
      <div fxLayout="row" fxLayoutAlign="center ">
        <img [style.height]="'64px'" src="./../assets/logo/logo.png" alt="" />
        <span fxFlex></span>
        <div fxLayout="row" fxLayoutGap="1em" fxLayoutAlign="center center">
          <app-button [value]="'Product'"> </app-button>
          <app-button [value]="'Solution'"> </app-button>
          <app-button [value]="'Pricing'"> </app-button>
          <app-button [type]="'STROKED'" [value]="'Login'"> </app-button>
          <app-button [type]="'RAISED'" [value]="'Get Started'"> </app-button>
        </div>
      </div>
    </mat-toolbar>
  </div>
  <div class="page-content"></div>
  <div class="page-body"></div>
</div>
